project_id = "leadgen-507715"
region     = "us-east5"
zone       = "us-east5-b"

repository_owner   = "ashujha301"
repository_name    = "LeadGen"
allowed_branch_ref = "refs/heads/main"

machine_type = "e2-small"
disk_size_gb = 20

admin_principal = "user:ashujha301@gmail.com"

labels = {
  owner = "ashujha301"
}
